
                <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">View All Parties</h3>
                            <div class="actions pull-right">
                             <i class="fa fa-expand"></i>
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                          <%if current_user.role == 'Party'%>
                          <%else%>
                             <%= link_to 'New Party', new_party_path, class: 'btn btn-link' %>
                          <%end%>
                            <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th>Party name</th>
                                    <th>Party gstin no</th>
                                    <th>Party arn no</th>
                                    <th>Place of supply</th>
                                    <th>Commodity name</th>
                                    <th>State Name</th>
                                    <th>State Code</th>
                                   
                                   
                                    <th colspan="3"></th>
                                  </tr>
                                </thead>

                                <tbody>
                                <%if current_user.role == 'Party'%>
                                
                                  <tr>
                                      <td><%= @parties.party_name %></td>
                                      <td><%= @parties.party_gstin_no %></td>
                                      <td><%= @parties.party_arn_no %></td>
                                      <td><%= @parties.commodity_name %></td>
                                      <td><%= @parties.state_name %></td>
                                      <td><%= @parties.state_code %></td>
                                     
                                     
                                  </tr>
                                <%else%>  
                                  <% @parties.each do |party| %>
                                    <tr>
                                      <td><%= party.party_name %></td>
                                      <td><%= party.party_gstin_no %></td>
                                      <td><%= party.party_arn_no %></td>
                                      <td><%= party.party_address %></td>
                                      <td><%= party.commodity_name %></td>
                                      <td><%= party.state_name %></td>
                                      <td><%= party.state_code %></td>
                                      <td><%= %></td>
                                      <td><%= link_to 'Show', party %></td>
                                      <td><%= link_to 'Edit', edit_party_path(party) %></td>
                                      <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                    </tr>
                                  <% end %>
                                  <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
             </div>
<br>
