<div cl<div class="pageheader">
  <h1>Credit/DebitNote Invoice</h1>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li><a href="/">Dashboard</a>
      </li>
      <li>Forms</li>
      <li class="active">New Invoice</li>
    </ol>
  </div>
</div>

<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">New Invoice</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
        <%= nested_form_for @issue_note, url: {action:'create', controller: 'issue_notes'} do |f|%>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-3">

             <div class="radio">
              <%= f.radio_button "register_type", "Registered"%><h6><b>Registered</b></h6>
              <%= f.radio_button "register_type", "Non-Registered"%><h6><b>Non-Registered</b></h6><br>
              <%= f.radio_button "note_type", "Credit-Note"%><h6><b>Credit-Note</b></h6>
              <%= f.radio_button "note_type", "Debit-Note"%><h6><b>Debit-Note</b></h6>
    
          </div>

        </div>
      </div>



      <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-10 control-label">Invoice Number</label>   
                <%= f.text_field :invoice_no,class: 'form-control', readonly:true%>
              </div>
            </div>

      <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-10 control-label">Date</label>   
                <%= f.date_field :date_of_original_invoice,value: Date.today, class: 'form-control'%>
              </div>
            </div>

             <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-10 control-label">GSTIN No</label>   
                <%= f.text_field :gstin_no,class: 'form-control'%>
              </div>
            </div>

             <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-10 control-label">E-WAY Bill No</label>   
                <%= f.text_field :e_way_bill_no,class: 'form-control'%>
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-15 control-label">Date of Issue Note</label>   
                <%= f.date_field :date_of_issue_note,value: Date.today,class: 'form-control'%>
              </div>
            </div>

             <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-10 control-label">Issue Note No</label>   
                <%= f.text_field :issue_note_no,class: 'form-control'%>
              </div>
            </div>


             <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-10 control-label">PreGSTo</label>   
                <%= f.text_field :pre_gst,class: 'form-control'%>
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-10 control-label">Place of Supply</label>   
                <%= f.text_field :place_of_supply,class: 'form-control'%>
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-15 control-label">Reason for Issuing Note</label>   
                <%= f.text_field :reason_for_issuing_note,class: 'form-control'%>
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-10 control-label">Search Receipent</label>           <%=f.select :customer_id ,Customer.all.collect{|i| [i.customer_name, i.id]}, {prompt:true},class: "form-control"%>
              </div>
            </div>
            

            <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-6 control-label">Address</label>   
                <textarea name="address" id="address" class="form-control"></textarea>
              </div>
            </div>



            <div class="form-group">
              <div class="col-sm-3">
                <label class="col-sm-10 control-label">GST No</label>   
                <input type="gstin_no_reg" name="gstin_no_reg" id="gstin_no_reg" class="form-control"></td>
              </div>
            </div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="col-sm-12">
        <div class="table-responsive">
          <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
             <tr>
              <th><h6>Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></th>
              <th><h6>Unit-Price</h6></th>
              <th><h6>Quantity</h6></th>
              <th><h6>Net Amt</h6></th>
              <th><h6>SGST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></th>
              <th><h6>CGST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></th>
              <th><h6>Tax Rate</h6></th>
              <th><h6>Tax Amt&nbsp;</h6></th>
              <th><h6>Total Amt</h6></th>
              <th><h6>Action&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></th>
            </tr>
          </thead>
          
        </table>
        </div>

        <%= f.fields_for :issue_note_items, :wrapper => false do |issue_note_item| %>        
        <div class="table-responsive">
          <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
            <colgroup>
            <col class="one"/>
            <col class="two"/>
            <col class="three"/>
            <col class="four"/>
            <col class="five"/>
            <col class="six"/>
            <col class="seven"/>
            <col class="eight"/>
          </colgroup>

          
          <tr class="fields">
            
             <td> <%=issue_note_item.select :item_id ,Item.all.collect{|i| [i.dogns,i.rate, i.id]}, {prompt:true},class: "select"%></td>
            <td><%= issue_note_item.text_field :unit_price, id: :rate, class: 'form-control'%></td>
            <td><%= issue_note_item.text_field :quantity, id: :qty, class: 'form-control'%></td>
            <td><%= issue_note_item.text_field :net_amt, id: :net_amt, class: 'form-control'%></td>
            <td><%= text_field_tag :sgst, "", class: 'form-control'%></td>
            <td><%= text_field_tag :cgst, "", class: 'form-control'%></td>
            <td><%= issue_note_item.text_field :tax_rate, id: :tax_rate, class: 'form-control'%></td>
            <td><%= issue_note_item.text_field :tax_amt, id: :tax_amt, class: 'form-control'%></td>
            <td><%= issue_note_item.text_field :total_amt, id: :total_amt, class: 'form-control'%></td>
            
            <td><%= issue_note_item.link_to_remove "Remove", class: 'btn btn-info' %></td>
          </tr>
        </table>

      </div>
      <!--grid_table-->
      


      <% end %>
      <td><%= f.link_to_add "Add Item", :issue_note_items , class: 'btn btn-danger' %></td>      <div class="pull-right">
        <p><%= f.submit "Create Invoice", class: 'btn btn-success' %></p>
      </div>
      <% end %>

    </section>
  </div>
</div>
</div>
</div>
</div>
</div>







<% content_for :javascript do %>
<script type="text/javascript">

  $(document).ready(function() {
    $('select#issue_note_customer_id').select2({
      placeholder: "Choose a customers",
      allowClear: true
    });
  });
</script>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $("#issue_note_customer_id").on("change", function() {
    var customer_id;
    Item = $(this).val();
    $.ajax({
      url: "/customers/load_customer_data",
      type: "GET",
      data: {customer_id: Item },
      dataType: "json"
    }).done(function (data) {
     console.log(data);
     $("#address").val(data[0]);
     $("#gstin_no_reg").val(data[1]);
     $("#cust_pan_no").val(data[2]);
      // $("#uom").val(data[1]);
      // $("#rate").val(data[2]);
      
    });
  });
</script>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(document).on("change", ".select", function () {
    var item_id = $(this);
    elem = jQuery(this);
    $.ajax({
      url: "/items/load_item_data",
      type: 'GET',
      dataType: 'html',
      data: {item_id: $(this).val()},
      success: function (data) {
        console.log(data);
        item = JSON.parse(data);
        container = elem.parents("tr.fields");
        container1 = elem.parents("th.fields");
        container.find("#rate").val(item[0]);
        container.find("#cgst").val(item[1]);
        container.find("#sgst").val(item[2]);

      }
    });

  });
</script>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
 $(document).on("keyup", "#rate, #qty", function() {
  container = elem.parents("tr.fields");
  var val1 = +container.find("#rate").val();
  var val2 = +container.find("#qty").val();
  var sval = +container.find("#sgst").val();
  var cval = +container.find("#cgst").val();
  var val3 = sval+cval;
  +container.find("#tax_rate").val(val3);
  +container.find("#net_amt").val(val1*val2);
  +container.find('#tax_amt').val(val3*val1*val2/100);
  var ans = (val1*val2 + val3*val1*val2/100);
  +container.find('#total_amt').val(ans);
});


 function deleteRow(btn) {
  var row = btn.parentNode;
  row.parentNode.removeChild(row);
}

</script>
<%end%>

<% content_for :javascript do %>
<script type="text/javascript">
  $(document).on('nested:fieldAdded', function(event){
  // this field was just inserted into your form
  var field = event.field; 
  var selectField = field.find('.select');
  selectField.select2();
  // and activate datepicker on it
//  dateField.datepicker();
})
</script>
<% end %>



<% content_for :javascript do %>
<script type="text/javascript">
  $(document).ready(function() {
    $('select#issue_note_issue_note_items_attributes_0_item_id').select2({
    });
  });
</script>
<% end %>