<!doctype html>
<html>
<head>

    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }
    
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }
    
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    
    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }
    
    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
    
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }
    
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    
    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    
    .rtl table {
        text-align: right;
    }
    
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <h6>Invoice</h6>
                            </td>
                            
                            <td>
                              <p><strong>Invoice Number:</strong>
                                <%=@invoice.invoice_no%></p>
                                <p><strong>Date:</strong>
                                <%=@invoice.date%></p>
                                 <p> <strong>Customer Name:</strong>
                               <%=@invoice.customer.customer_name%></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                 <!--    <table>
                        <tr>
                            <td>
                                Sparksuite, Inc.<br>
                                12345 Sunny Road<br>
                                Sunnyville, CA 12345
                            </td>
                            
                            <td>
                                Acme Corp.<br>
                                John Doe<br>
                                john@example.com
                            </td>
                        </tr>
                    </table> -->
                </td>
            </tr>
            
          
            
            <tr class="heading">
                <td>
                    Invoice
                </td>
                
                <td>
                    
                </td>
            </tr>
               <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                              
                                    <th>Item Description</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Net Amount</th>
                                    <th>Tax Rate</th>
                                    <th>Tax Type</th>
                                    <th>Tax Amount</th>
                                    <th>Total Amount</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <% @invoice.invoice_items.each do |i|%>
                                    <tr class="item">
                                      <td><%= i.item.dogns%></td>
                                       <td>&#8377;<%= i.unit_price%></td>
                                      <td><%= i.quantity%></td>
                                      <td>&#8377;<%= i.net_amt%></td>
                                      <td><%= i.tax_rate%>&#37;</td>
                                      <td>CGST+SGST</td>
                                      <td>&#8377;<%= i.tax_amt%></td>
                                      <td align="right">&#8377;<%= i.total_amt%></td>
                                     
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>
    </div>
</body>
</html>