 <!-- Page Wrapper-->
     <section id="main-wrapper" class="theme-default">
       <!-- Page wrapper -->
        <header id="header"> <%= render partial: "layouts/partials/header" %> </header>
        <!-- Left Sidebar Navigation -->
        <aside class="sidebar sidebar-left"> <%= render partial: "layouts/partials/leftsidebar" %> </aside>
        <!-- Content wraper -->
         <section class="main-content-wrapper">
            <!-- Main content view  -->
                <%= yield %>
            <!-- Footer -->
            <%= render partial: "layouts/partials/footer" %>
        </section>
        <!-- /Content wraper-->
    </section>
    <!-- /Page wrapper-->
    <!-- Right Sidebar Navigation -->
    <%= render partial: "layouts/partials/rightsidebar" %>
    <!-- /Right Sidebar Navigation -->
        <!-- Config for demo -->
    <%= render partial: "layouts/partials/config" %>
    <!-- /Config for demo -->

      <!-- Global scripts -->