  <div class="pageheader">
                <h1>New Customer</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="/">Dashboard</a>
                        </li>
                        <li>Forms</li>
                        <li class="active">New Customer</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Customer/h3>
                                <div class="actions pull-right">
                                 <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                                     <div class="panel-body">

                                      <%= form_with(model: customer, local: true) do |f| %>
                                        <% if customer.errors.any? %>
                                          <div id="error_explanation">
                                            <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

                                            <ul>
                                            <% customer.errors.full_messages.each do |message| %>
                                              <li><%= message %></li>
                                            <% end %>
                                            </ul>
                                          </div>
                                        <% end %>

                                <form class="form-horizontal">
                                  <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-6 control-label">First Name</label>                             <%= f.text_field :customer_name, id: :customer_customer_name, class: "form-control",placeholder: "Name."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-8 control-label">GST No If Register</label>
                                          <%= f.text_field :gstin_no_reg, id: :customer_gstin_no_reg , class: "form-control" ,placeholder: "GST No."%>
                                    </div>
                                    </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">ARN No</label>
                                          <%= f.text_field :arn_no, id: :customer_arn_no , class: "form-control" ,placeholder: "No."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">Address</label>
                                          <%= f.text_field :address, id: :customer_address  , class: "form-control" ,placeholder: "No."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-12 control-label">Customer Place Of Supply</label>
                                          <%= f.text_field :cust_place_of_supply, id: :customer_cust_place_of_supply  , class: "form-control" ,placeholder: "No."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-12 control-label">Customer Name of Commodity</label>
                                          <%= f.text_field :cust_name_of_commodity_supplied, id: :customer_cust_name_of_commodity_supplied, class: "form-control" ,placeholder: "No."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">Tarrif No</label>
                                          <%= f.text_field :cust_tarrif_no, id: :customer_cust_tarrif_no, class: "form-control" ,placeholder: "Tarrif No."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">Rate Of Tax</label>
                                          <%= f.text_field :cust_rate_of_tax, id: :customer_cust_rate_of_tax, class: "form-control" ,placeholder: "Tax."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">Name Of Service</label>
                                          <%= f.text_field :cust_name_of_service, id: :customer_cust_name_of_service, class: "form-control" ,placeholder: "Name."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-12 control-label">Service Accountanting Code</label>
                                          <%= f.text_field :cust_serv_acc_code, id: :customer_cust_serv_acc_code, class: "form-control" ,placeholder: "Name."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">PAN No</label>
                                          <%= f.text_field :cust_pan_no, id: :customer_cust_pan_no, class: "form-control" ,placeholder: "Name."%>
                                    </div>
                                  </div>

                                  <div class="panel-body">
                                        <div class="col-sm-offset-3 col-sm-12">
                                        <%= f.submit class: "btn btn-success"%>
                                        <%= link_to 'Back', customers_path,class: "btn btn-primary" %>
                                        </div>
                                    </div>
                                <%end%>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
