<div class="pageheader">
                <h1>New Customer</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="/">Dashboard</a>
                        </li>
                        <li>Forms</li>
                        <li class="active">New Customer</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Customer>
                                <div class="actions pull-right">
                                 <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                           <div class="panel-body">
                        
                        <%= form_for :customer, url:{controller: 'customers', action: 'add'} do |f|%>

                                <form class="form-horizontal">
                                  <div class="form-group">
                                  

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-10 control-label">Search Customers</label>                     <%=f.select :id ,Customer.all.collect{|i| [i.customer_name, i.id]}, {prompt:true},class: "form-control"%>
                                    </div>
                                  </div>
                                  

                                   <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-6 control-label">Address</label>   
                                        <input type="address" name="address" id="address"></td>
                                    </div>
                                   </div>

                                   <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-6 control-label">GST-IN No</label>   
                                        <input type="gstin_no_reg" name="gstin_no_reg" id="gstin_no_reg"></td>
                                    </div>
                                   </div>

                                   <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-6 control-label">PAN No</label>   
                                        <input type="cust_pan_no" name="cust_pan_no" id="cust_pan_no"></td>
                                    </div>
                                   </div>

                                   

                                <%= f.fields_for :items do |i|%>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-6 control-label">Search items</label>   
                                        <%=i.select :item_id ,Item.all.collect{|i| [i.dogns,i.rate, i.id]}, {prompt:true},class: "form-control"%>
                                    </div>
                                  </div>

                                   <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-6 control-label">Quantity</label>   
                                        <input type="qty" name="qty" id="qty"></td>
                                    </div>
                                   </div>

                                   <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-6 control-label">Unit of Measure</label>   
                                        <input type="uom" name="uom" id="uom"></td>
                                    </div>
                                   </div>

                                   <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-6 control-label">Rate</label>   
                                        <input type="rate" name="rate" id="rate"></td>
                                    </div>
                                   </div>
                            <%end%>


                                  <br><br><br><br><br>

                                  <div class="panel-body">
                                        <div class="col-sm-offset-3 col-sm-12">
                                        <%= f.submit "Add",:name => "add_item", class: "btn btn-success"%>
                                    
                                        <%= link_to 'Back', customers_path,class: "btn btn-primary" %>
                                        </div>
                                    </div>
                                <%end%>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

<div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">View All Items</h3>
                            <div class="actions pull-right">
                             <i class="fa fa-expand"></i>
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                        
                            <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                <thead>
                                  <tr> 
                                    <th>Sr.No</th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Total Amount</th>
                                    <th>CGST(%)</th>
                                    <th>CGST(Rs)</th>
                                    <th>SGST(%)</th>
                                    <th>SGST(Rs)</th>
                                    <th>Actions</th>
                                    <th colspan="3"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                 <tbody>
                                  <% @customer_items.each_with_index do |s,i| %>
                                    <tr> 
                                      <td><%=i+1 %></td>
                                      <td><%= s.item_id %></td>
                                      <td><%= s.item.qty %></td>
                                      <td><%= s.item.rate %></td>
                                      <td><%= s.item.qty + s.item.rate%></td>
                                    
                                      <td><%#= link_to 'Destroy', customer_item_path(s), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>

                    </div>
                </div>
               </div>
             </div>

<% content_for :javascript do %>
<script type="text/javascript">

$(document).ready(function() {
  $('select#customer_id').select2({
    placeholder: "Choose a person",
    allowClear: true
  });
});
</script>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $("#customer_id").on("change", function() {
    var customer_id;
    Item = $(this).val();
    $.ajax({
      url: "/customers/load_customer_data",
      type: "GET",
      data: {customer_id: Item },
      dataType: "json"
     }).done(function (data) {
     console.log(data);
      $("#address").val(data[0]);
      $("#gstin_no_reg").val(data[1]);
      $("#cust_pan_no").val(data[2]);
      // $("#uom").val(data[1]);
      // $("#rate").val(data[2]);
     
    });
  });
</script>
<% end %>

 


<% content_for :javascript do %>
<script type="text/javascript">
  $("#customer_items_item_id").on("change", function() {
    var item_id;
    Item = $(this).val();
    $.ajax({
      url: "/items/load_item_data",
      type: "GET",
      data: {item_id: Item },
      dataType: "json"
     }).done(function (data) {
     console.log(data);
      $("#qty").val(data[0]);
      $("#uom").val(data[1]);
      $("#rate").val(data[2]);
     
    });
  });
</script>
<% end %>



<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function() {
  $('select#customer_items_item_id').select2({

  
  });
});
</script>
<% end %>





