  <div class="pageheader">
                <h1>Create New Item</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="/">Dashboard</a>
                        </li>
                        <li>Forms</li>
                        <li class="active">New Item</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Item</h3>
                                <div class="actions pull-right">
                                 <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                            <%= form_with(model: item, local: true) do |f| %>
                             <% if item.errors.any? %>
                                <div id="error_explanation">
                                  <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

                                  <ul>
                                  <% item.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                                  </ul>
                                </div>
                              <% end %>
                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-20 control-label">Description Of Goods And Services</label>
                                        <%= f.text_field :dogns, id: :item_dogns,class: "form-control",placeholder: "Descriptn of good services" %>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">HSN No</label>
                                          <%= f.text_field :item_hsn_no, id: :item_item_hsn_no, class: "form-control" ,placeholder: "HSN No." %>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                       <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">UOM</label>
                                          <%= f.select :unit_of_measure_id, UnitOfMeasure.all.collect{|p| [p.name,p.id]}, {prompt:true},class: "form-control" %>
                                       </div>
                                    </div>

                                 
                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-8 control-label">Unit Price</label>
                                          <%= f.text_field :rate, id: :item_rate, class: "form-control" ,placeholder: "Rate" %>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-8 control-label">CGST</label>
                                          <%= f.text_field :cgst, id: :item_cgst, class: "form-control" ,placeholder: "CGST" %>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-8 control-label">SGST</label>
                                          <%= f.text_field :sgst, id: :item_sgst, class: "form-control" ,placeholder: "SGST" %>
                                      </div>
                                    </div>

                                      <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-8 control-label">IGST</label>
                                          <%= f.text_field :igst, id: :item_igst, class: "form-control" ,readonly:true,placeholder: "IGST" %>
                                      </div>
                                    </div>

                                   
                                    <br><br><br><br><br><br>
                             
                                     <div class="panel-body">
                                        <div class="col-sm-offset-3 col-sm-12">
                                        <%= f.submit class: "btn btn-success"%>
                                        <%= link_to 'Back', items_path,class: "btn btn-primary" %>
                                        </div>
                                    </div>
                                 
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
        </section>



<% content_for :javascript do %>
 <script type='text/javascript'>
   $(document).on("keyup", "#item_cgst, #item_sgst", function() {
   var val1 = +$("#item_cgst").val();
   var val2 = +$("#item_sgst").val();
          $("#item_igst").val(val1+val2);
  });



</script>
<%end%>